.navbar-nav{
    color: white;
}

body {
  background-image: linear-gradient(to bottom, rgb(213, 233, 255), rgb(255, 255, 255));
}

.cim{
    background-color: rgb(213, 233, 255);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.etelek{
    margin: 20px;
}

footer{
    background-color: rgb(54, 52, 52);
    color: white;
    padding-bottom: 10px;

}

.etel{
    width: 270px;
    height: 200px;
}

.galeria{
    width: 350px;
    height: 300px;

}

.kepek{
    margin: 70px
}